

<div class="item">
    <p><%= item.title %></p>
    <form action="/category/<%=category%>/<%=item.id%>/delete" method="post">
        <button onclick= confirm("Confirm?")>Delete Item</button>

    </form>
</div>