body{
    margin: 0;
    padding: 0;
    background: black;
}
p{
    color: white;
}


.category-container{
    display: flex;
    gap: 5rem;
    font-size: 5rem;
    padding: 3rem;
    flex-wrap: wrap;
}
.item{
    display: flex;
}